.main-nav{
    height: 70px;
    background-color: #FFC700;
    display: flex;
    align-items: center;
    padding-left: 40px;
    margin-right: 0px;
    margin-left: 0px;
}
.nav-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #000000;
}
.logout-btn{
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
    font-weight: bold;
    display: flex;
    position: relative;
    left: 1050px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 4px 7px 4px 8px;
    width: 88px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}