.pagination-container{
    display: flex;
    justify-content: center;
    height: 40px;
    margin-top: 45px;
}
.pagination-item{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #6C6C6C;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;
}
.active{
    background-color: #FFC700;

}